<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
<div class="container">
  <h2>Panel Heading</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body" id = "boardForm">
      <table class = 'table table-bordered table-hover'>
        <tr><th>제목</th><th>내용</th><th></th></tr>
        <% t_review.forEach(function(t_review) { %>
            <tr>
            <td id="t<%=t_review._id%>"><%= t_review.title %></td>
            <td id="c<%=t_review._id%>"><%= t_review.comment%></td>
            <!-- <td><button class="btn btn-sm btn-success " type="button" onclick="location.href='/contacts/new'">수정</button> -->
              <td><button class="btn btn-sm btn-success " type="button" onclick="editForm(`<%= t_review._id%>`)">수정</button>&nbsp;
              <form style='display:inline' action="/contacts/tboard/<%= t_review._id %>?_method=delete" method="post"> 
                <button class="btn btn-sm btn-info" type="button" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">삭제</button>
              </form>
              <div id="pw_check<%=t_review._id%>" style="display:none" > 
              <!-- 4/6 여기까지 작업. update 잘되는지 확인하다 말았음 -->
              <form action="/contacts/tboard/<%= t_review._id %>?_method=put" method="post">
              <div id="u_pcheck">Password : <input style="display:inline;width:100px;height:18px;"  type="password" class="form-control" name="pw">
                <input type="hidden" name="title" val="editTitle('<%= t_review._id%>')">
                <input type="hidden" name="comment" val="editComemnt('<%= t_review._id%>')">
                <button class="btn btn-sm btn-success ">확인</button>
                
              </div>
            </form>
            </div>
            </tr>
        <% }) %>
    </table>
    <button class="btn btn-sm btn-success" type="button" onclick="location.href='/contacts/tboard/new'">글쓰기</button>
    </div>
  </div>
</div>

<script>
  function editForm(_id){
    console.log("눌렸습니다~")
    
    if( $("#pw_check"+_id).css("display")=="none"){
      $("#pw_check"+_id).css("display","block")
      var title = $("#t"+_id).text()
      var comment = $("#c"+_id).text()
      var tInput = "<input id='utitle"+_id+"' type='text' class='form-control' value='"+title+"'>"
      $("#t"+_id).html(tInput)
  
      var cInput = "<input id='ucomment"+_id+"' type='text' class='form-control' value='"+comment+"'>"
      $("#c"+_id).html(cInput)
    }
    else{
      var title = $("#utitle"+_id).val()
      var comment = $("#ucomment"+_id).val()
      $("#pw_check"+_id).css("display","none")
      $("#t"+_id).html(title)
      $("#c"+_id).html(comment)
    }

  }
  
  function editTitle(_id){
    return $("#utitle"+_id).val()
  }
  function editComment(_id){
    return $("#ucomment"+_id).val()
  }

</script>
</body>
</html>